header {
	background:#FF875F;
	color: #FFF;
}
.forange {
	background:#FF875F;
	height:437px;
}

.green {
	background:#93F082;
	height: 336px;
}

.borange {
	background:#FF875F;
	color: #FFF;
	height: 317px;
	width: 277px;

}

footer {
	background:#FF875F;
	color: #FFF;
}